{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Treasure submission</title>
</head>

<body>
    <button id="add-form-btn">Add form</button>
    <button id="remove-form-btn">Remove form</button>
    <form id="treasure-form" method='POST'>{% csrf_token %}
      {{ treasure_formset.management_form.as_p }}
      {% for treasure_form in treasure_formset.forms %}
        <h2 id="form-{{ forloop.counter0 }}-h2">Form number {{ forloop.counter0 }}</h2>
        {{ treasure_form.as_p }}
        <hr>
      {% endfor %}
      <input id="submit-button" type='submit' value="Submit treasure">
    </form>
    <script src="{% static 'treasures/js/form.js' %}"></script>
</body>
</html>
